@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Pompiere&display=swap');

:root {
    --cor-principal: #47434c;
    --cor-secundaria: #563a60;
    --cor-destaque: #ffdc69;
}

body {
    background-image: url('img/fundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Limelight", sans-serif;
    color: var(--cor-principal);
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

.lead, .btn-link {
    color: var(--cor-destaque);
    font-weight: 700;
}

a, .btn-link:hover {
    color: var(--cor-principal)
}

a:hover{
    color: var(--cor-destaque);
}
